<h1>HAK Mürz</h1>

Wie hat es euch gefallen beim Tag der offenen Tür?



<ul>
  <li>
    <div   class="smileys_happy" (click)="countClick()"></div>
      votes: {{ clicksGood }}
  </li>

  <li>
    <div class="smileys_neutral" (click)="countClick_med()"></div>
    votes: {{ clicksMed }}
  </li>

  <li>
    <div class="smileys_sad" (click)="countClick_sad()"></div>
    votes:  {{ clicksSad }}
  </li>
</ul>

<div>
Anzahl der Votes: {{votes}}
</div>


<div >
  <p > <span (click)="loadCounter()"> load</span>
   </p>

   <p > <span (click)="clearCounter()"> clear</span>
    </p>
</div>
